<!--== SIDEBAR ==-->
<div class="col-md-2" id="sidebar">
  <img src="../assets/images/web-art/chef-marshall-logo.png"/>
  <a href="/user-feedback" class="btn btn-info" id="sidebar-btn">Feedback</a>
  <a href="/report" class="btn btn-info" id="sidebar-btn">Reports</a>
<hr />

<uib-accordion close-others="true">
  <div uib-accordion-group class="panel panel-success" heading="Add New">
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewCategory()">Category</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewFood()">Food</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewOption()">Option</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewLocation()">Location</a>
  </div>

  <div uib-accordion-group class="panel panel-warning" heading="Edit">
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editCategory()">Category</a>
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editOption()">Option</a>
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editLocation()">Location</a>
  </div>
  </uib-accordion>


</div> <!-- END SIDEBAR -->




<!--== CONTENT ==-->
<div class="col-md-10" id="admin-content">
  <h2>Foods<img src="../assets/images/web-art/avocado.png" /></h2>

  <!-- Sort By:-->
  <label for="order">Order By:</label>
  <select ng-model="sort" name="order">
  <option ng-value="admin.food.name">Name</option>
  <option ng-value="admin.location.name">Category</option>
  <option>Grade</option>
</select> &emsp;

  <!-- Show:-->
  <label for="filter-cat">Category:</label>
  <select name="filter-cat" ng-model="admin.category"  ng-options="category.name for category in admin.categories"></select>
  &emsp;
  <label for="filter-loc">Location:</label>
  <select name="filter-loc" ng-model="admin.location" ng-options="location.name for location in admin.locations"></select>

  <table class="table table-striped admin-table">
    <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Grade</th>
    <th>Modify</th>
  </thead>
  <tbody>
    <tr ng-repeat="food in admin.allFoods | filter: admin.category.name | filter: admin.location.name | orderBy: sort">
      <td>{{food.name}}</td>
      <td>{{food.category}}</td>
      <td id="{{food.grade}}">{{food.grade}}</td>
      <td><button class="btn btn-info" id="table-mod" ng-click="admin.editFood(food)">Edit</button><button class="btn btn-danger" id="table-mod" ng-click="admin.confirmDelete(food._id)">Delete</button></td>
    </tr>
    </tbody>
  </table>



</div>
