  <nav class="col-md-12">
    <a href="/feedback">Feedback</a>
    <a href="/reports">Reports</a>
  </nav>

  <section>
      <button type="button" class="btn btn-success" ng-click="admin.open()">+ New Food</button>
      <button type="button" class="btn btn-success" ng-click="admin.open()">+ New Category</button>
  </section>

<section>
  <div class="col-md-2"></div>

  <div class="col-md-8">
  <table class="table table-striped">
    <tr>
    <th>Name</th>
    <th>Grade</th>
    <th>Modify</th>
    </tr>
    <tr>
      <td>Hot Dog</td>
      <td>C</td>
      <td><button>Edit</button><button>Delete</button></td>
    </tr>
    <tr>
      <td>Popcorn</td>
      <td>B</td>
      <td><button>Edit</button><button>Delete</button></td>
    </tr>
    <tr>
      <td>Cheeseburger</td>
      <td>D</td>
      <td><button>Edit</button><button>Delete</button></td>
    </tr>
  </table>
  </div>

    <div class="col-md-2"></div>
</section>
