<!--== SIDEBAR ==-->
<div class="col-md-2" id="sidebar">
  <img src="../assets/images/chef-marshall-logo.png"/>
  <a href="/feedback" class="btn btn-info" id="sidebar-btn">Feedback</a>
  <a href="/reports" class="btn btn-info" id="sidebar-btn">Reports</a>
<hr />

<uib-accordion close-others="true">
</a><div uib-accordion-group class="panel panel-success" heading="Add New">
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewCategory()">Category</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewFood()">Food</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewOption()">Option</a>
    <a role="button" class="btn btn-success" id="accordion-btn" ng-click="admin.openNewLocation()">Location</a>
  </div>

  <div uib-accordion-group class="panel panel-warning" heading="Edit">
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editCategory()">Category</a>
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editOption()">Option</a>
    <a role="button" class="btn btn-warning" id="accordion-btn" ng-click="admin.editLocation()">Location</a>
  </div>
  </uib-accordion>


</div> <!-- END SIDEBAR -->




<!--== CONTENT ==-->
<div class="col-md-10" id="admin-content">
  <h2>Foods<img src="../assets/images/avocado.png" /></h2>

  <!-- Sort By:-->
  <select>
  <option selected disabled>Sort By:</option>
  <option>Name</option>
  <option>Category</option>
  <option>Grade</option>
</select>

  <!-- Show:-->
  <select>
    <option selected disabled>Filter By:</option>
    <option>Fruit</option>
    <option>Vegetable</option>
    <option>Grain</option>
    <option>Protein</option>
    <option>Dairy</option>
    <option>Oil</option>
  </select>

  <select>
    <option selected disabled>Location:</option>
    <option>Ball Game</option>
    <option>Concession</option>
    <option>Italian</option>
    <option>Mexican</option>
  </select>

  <table class="table table-striped admin-table">
    <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Grade</th>
    <th>Modify</th>
  </thead>
  <tbody>
    <tr>
      <td>Hot Dog</td>
      <td>Protein</td>
      <td id="c">C</td>
      <td><button class="btn btn-info" id="table-mod" ng-click="admin.editFood()">Edit</button><button class="btn btn-danger" id="table-mod" ng-click="admin.confirmDelete()">Delete</button></td>
    </tr>
    <tr>
      <td>Popcorn</td>
      <td>Grain</td>
      <td id="a">B</td>
      <td><button class="btn btn-info" id="table-mod" ng-click="admin.editFood()">Edit</button><button class="btn btn-danger" id="table-mod" ng-click="admin.confirmDelete()">Delete</button></td>
    </tr>
    <tr>
      <td>Cheeseburger</td>
      <td>Protein</td>
      <td id="f">D</td>
      <td><button class="btn btn-info" id="table-mod" ng-click="admin.editFood()">Edit</button><button class="btn btn-danger" id="table-mod" ng-click="admin.confirmDelete()">Delete</button></td>
    </tr>
    <tr>
      <td>Baked Beans</td>
      <td>Protein</td>
      <td id="a">B</td>
      <td><button class="btn btn-info" id="table-mod" ng-click="admin.editFood()">Edit</button><button class="btn btn-danger" id="table-mod" ng-click="admin.confirmDelete()">Delete</button></td>
    </tr>
    </tbody>
  </table>



</div>
