<div class='container-fluid where-page' ng-init='cat.getCategories()'>

    <header class='row banner categories-banner'>
        <div class='col-xs-5 chef-marshall-logo'>
            <img src='assets/images/web-art/chef-marshall-logo.png' alt="Chef Marshall O'Brien Group logo" />
        </div>
        <div class='col-xs-2 avocado'>
            <img src='assets/images/avocado.png' alt="It's an Avodcado!">
        </div>
        <div class='col-xs-5 login-button'>
            <button class='btn' type='submit'>Login/Out</button>
        </div>
    </header>

    <section class='categories-list'>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Vegetables</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/carrot.png" alt="Vegetables" />
        </div>
      </div>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Fruits</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/apple.png" alt="Fruits" />
        </div>
      </div>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Grains</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/grain.png" alt="Grains" />
        </div>
      </div>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Protein</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/steak.png" alt="Protein" />
        </div>
      </div>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Dairy</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/cheese.png" alt="Dairy" />
        </div>
      </div>

      <div class='row category'>
        <div class='col-xs-6 category-name'>
          <span>Oils</span>
        </div>
        <div class='col-xs-6 category-photo'>
          <img src="assets/images/category-items/olive-oil.png" alt="Oils" />
        </div>
      </div>

      <footer class='row footer'>
        <p>  That's Pretty Neat &copy; How 'Bout A Beer? - 2016 </p>
      </footer>


</div>
