<div class='container-fluid where-page'>

  <header class="row banner">
      <div class="col-xs-6 chef-marshall-logo">
        <img src="assets/images/web-art/chef-marshall-logo.png" alt="Chef Marshall O'Brien Group logo" />
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2 home">
        <a ng-click="cat.back()"><img src="assets/images/web-art/return.png" alt="Back Button" /></a>
      </div>
      <div class="col-xs-2 home">
          <a href="/user-landing"><img src="assets/images/web-art/home.png" alt="Home Screen Link"></a>
      </div>
  </header>

    <section class='categories-list'>

      <a href="/category-results/{{category.name}}" ng-repeat='category in cat.categories' ng-click="cat.getCategoryFoods(category)">
        <div class='row category'>
          <div class='col-xs-6 category-name'>
            <span>{{ category.name }}</span>
          </div>
          <div class='col-xs-6 category-photo'>
            <img src="{{ category.file.path }}" />
          </div>
        </div>
      </a>

      <div class="col-xs-offset-1 col-xs-10">
        <button class="btn btn-success" ng-click="cat.openFeedback()">Are we missing a category?</button>
      </div>


    </section>



</div>
