<div class='container-fluid where-page'>

    <header class='row banner'>
        <div class='col-xs-5 chef-marshall-logo'>
            <img src='assets/images/web-art/chef-marshall-logo.png' alt="Chef Marshall O'Brien Group logo" />
        </div>
        <div class='col-xs-2 avocado'>
            <img src='assets/images/web-art/avocado.png' alt="It's an Avodcado!">
        </div>
        <div class='col-xs-5 login-button'>
            <button class='btn' type='submit'>Login/Out</button>
        </div>
    </header>

    <section class='row chosen-food-header'>
      <div class='col-xs-8 chosen-food-name'>
        <span>{{ food.chosenFood.name }}</span>
      </div>
      <div class='col-xs-4 chosen-food-grade'>
        <span class='chosen-food-letter-grade letter-grade {{  food.chosenFood.grade }}'>{{ food.chosenFood.grade }}</span>
      </div>
    </section>

    <div class='row options-header'>
      <div class='col-xs-12'>
        <span>Options</span>
      </div>
    </div>



    <div class="row option-checkbox-container" ng-repeat="(key, value) in food.chosenFood.options | groupBy:'type.name'">
      <div>
        {{key}}
      </div>
      <div class='col-xs-6 option-checkbox-div' ng-repeat="option in value">
        <input type="{{option.type.display}}" class='option-checkbox' name='option' ng-model="option.clicked" ng-value="option" ng-change="food.modifyScore(option)" />
        <label for='option'>{{ option.name }}</label>
      </div>



</div>
