<div class='container-fluid where-page'>

    <header class='row banner locations-banner'>
        <div class='col-xs-5 chef-marshall-logo'>
            <img src='assets/images/web-art/chef-marshall-logo.png' alt="Chef Marshall O'Brien Group logo" />
        </div>
        <div class='col-xs-2 avocado'>
            <img src='assets/images/web-art/avocado.png' alt="It's an Avodcado!">
        </div>
        <div class='col-xs-5 login-button'>
            <button class='btn' type='submit'>Login/Out</button>
        </div>
    </header>

    <section class='locations-list'>

      <a href="/results" ng-repeat='venue in location.locations' ng-click="location.getLocationFoods(venue)">
        <div class='row location'>
          <div class='col-xs-6 location-name'>
            <span>{{ venue.name }}</span>
          </div>
          <div class='col-xs-6 location-photo'>
            <img src="{{ venue.path }}" />
          </div>
        </div>
      </a>


    </section>

</div>
