<section class="login-page">
<img src="assets/images/web-art/chef-marshall-logo.png" />
<div class="row login">
  <div class="col-md-offset-3">
    <h2>Admin Log In</h2>
    <form ng-submit="login.login(login.username, login.password)">
      <input class="login-field" id="login-email" type="text" placeholder="Email" ng-model="login.username"/>
      <input class="login-field" type="password" placeholder="Password"/ ng-model="login.password">
      <input class="btn btn-primary" type="submit" />
    </form>
  </div>
</div>


</section>
