<!-- Feedback -->

<!--== SIDEBAR ==-->
<div class="col-md-2" id="sidebar">
  <img src="../assets/images/web-art/chef-marshall-logo.png"/>
  <a href="/admin" class="btn btn-info" id="sidebar-btn">Admin Home</a>
  <a href="/report" class="btn btn-info" id="sidebar-btn">Reports</a>
<hr />


<!-- Show all -->
<button class="btn btn-success" ng-click="report.assignList('all')">Show All ({{report.feedback.length}})</button>
<!-- Show unresolved -->
<button class="btn btn-success" ng-click="report.assignList('unresolved')">Show Unresolved ({{report.unresolvedFeedback.length}})</button>
<!-- Show resolved -->
<button class="btn btn-success" ng-click="report.assignList('resolved')">Show Resolved ({{report.resolvedFeedback.length}})</button>


</div> <!-- END SIDEBAR -->




<!--== CONTENT ==-->
<div class="col-md-10" id="admin-content">
  <h2>User Feedback and Requests</h2>
  <table class="table table-striped admin-table">
    <thead>
      <th class="col-md-2">From</th>
      <th class="col-md-4">Feedback</th>
      <th class="col-md-2">Date</th>
      <th class="col-md-2">Status</th>
      <th class="col-md-2">Actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="entry in report.current">
        <td>{{entry.type}}</td>
        <td>{{entry.content}}</td>
        <td>{{entry.date | date:"short"}}</td>
        <td>Status: <span ng-show="entry.resolved">Resolved</span><span ng-hide="entry.resolved">Unresolved</span></td>
        <td>
          <div class="row">
            <button id="table-mod" class="btn btn-success col-md-6" ng-hide="entry.resolved" ng-click="report.changeFeedbackStatus(entry)">Resolve</button>
            <button id="table-mod" class="btn btn-info col-md-6" ng-show="entry.resolved" ng-click="report.changeFeedbackStatus(entry)">Unresolve</button>
            <button id="table-mod" class="btn btn-danger col-md-6" ng-click="report.deleteFeedback(entry)">Delete</button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

</div>
