<section class="modal-edit">

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
  <h3>Edit Options</h3>
  <hr />

  <uib-accordion close-others="true">
    <div uib-accordion-group class="panel panel-success" heading="Edit Option Types">
      <table>
        <thead>
          <th class="col-md-7">Name</th>
          <th>Modify</th>
        </thead>
        <tbody>
          <tr ng-repeat="type in edit.types">
          <td><input type="text" ng-value="type.name" /></td>
          <td><button class="btn btn-info" id="table-mod">Edit</button><button class="btn btn-warning" id="table-mod">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div uib-accordion-group class="panel panel-warning" heading="Edit Options">
      <form class="form-horizontal">

      <label for="type">Type:</label>
      <select name="type" class="form-control" ng-model="edit.type" ng-options="type.name for type in edit.types" ></select>

      <table>
        <thead>
          <th class="col-md-7">Name</th>
          <th>Modify</th>
        </thead>
        <tbody>
          <tr ng-repeat="option in edit.options | filter: edit.type.name" ng-if="edit.type">
            <td><input type="text" ng-value="option.name" /></td>
            <td><button class="btn btn-danger" id="table-mod">X</button></td>
          </tr>
        </tbody>
      </table>

  </form>
    </div>
    </uib-accordion>




  <!--== SAVE / CANCEL ==-->
    <div class="row">
      <button class="end-button btn" id="admin-btn" ng-click="edit.cancel()">Cancel</button>
      <button class="end-button btn btn-success" id="admin-btn" type="submit" ng-click="edit.editCategory()">Save</button>
  </form>
    </div>

</div>
</div>
<div class="col-md-1"></div>

</section>
