<section class="modal-edit">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>Edit Food</h3>
    <hr />

    <form>
    <select ng-model="edit.food.category">
      <option selected disabled>Category</option>
      <option ng-repeat="category in edit.categories">{{category.name}}</option>
    </select>
<br />
    <input id="food-name" type="text" ng-model="edit.food.name" placeholder="Food Name"/>
    <input id="food-score" type="number" ng-model="edit.food.score" placeholder="Score"/>
    <input id="food-override-check" ng-checked="edit.food.overRide" ng-model="edit.food.overRide" type="checkbox" />
    <label for="food-override">Override</label>
    <select ng-model="edit.food.overRideValue">
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>F</option>
    </select>

    <h4>Options</h4>

    <select name="type" ng-model="edit.type" ng-options="type.name for type in edit.types">
    </select>
    <ui-select multiple ng-model="edit.food.options" theme="selectize" close-on-select="false" style="width: 100%;" title="Select an option">
      <ui-select-match placeholder="Select option...">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="option in edit.options | filter: edit.type.name" >
         <!-- | propsFilter: {type:{name:type.name}} -->
        <div ng-bind-html="option.name | highlight: $select.search"></div>
        <small>Type: {{option.type.name}} &nbsp; | &nbsp; Modifier: {{option.modifier}}</small>
      </ui-select-choices>
    </ui-select>

  <!-- <div class="row" ng-repeat="option in edit.food.options">
    <div class="col-xs-6">
      <ui-select ng-model="edit.type.selected[$index]" theme="selectize" id="type-dropdown">
      <ui-select-match placeholder="Select a type">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="type in edit.types">
   <div ng-bind-html="type.name" style="display: inline"></div>
      </ui-select-choices>
    </ui-select>
      <ui-select ng-model="option.type.name">
        <option disabled>Type</option>
        <option ng-repeat="type in edit.types">{{type.name}}</option>
      </ui-select>
      <ui-select ng-model="edit.option.selected[$index]" theme="selectize" id="type-dropdown">
      <ui-select-match placeholder="Select an option">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="option in edit.options">
   <div ng-bind-html="option.name" style="display: inline"></div>
      </ui-select-choices>
    </ui-select>
      <select ng-model="option.name">
        <option disabled>Option</option>
        <option ng-repeat="option in edit.options | filter: option.type.name" ng-if="option.type">{{option.name.replace('_', ' ')}}</option>
      </select>
    </div> -->
    <br />

  <h4>Locations</h4>
  <!-- Do repeat on locations -->
  <div class="row" ng-repeat="locale in edit.food.location">
    <div class="col-xs-6">
      <select ng-model="locale">
        <option disabled>Location</option>
        <option ng-repeat="venue in edit.locations">{{venue.name.replace('_', ' ')}}</option>
      </select>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-danger" ng-click="edit.deleteLocationFromFood(locale)">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-success" ng-click="edit.addLocationToFood()">Add Location</button>
    </div>
  </div>

  <h4>Tags</h4>
  <!-- Do tags -->
  <div class="row" ng-repeat="tag in edit.food.tags">
    <div class="col-xs-6">
      <input type="text" ng-model="tag.value" />
    </div>
    <div class="col-xs-6">
      <button class="btn btn-danger" ng-click="edit.deleteTagFromFood(tag)">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-success" ng-click="edit.addTagToFood()">Add Tag</button>
    </div>
  </div>

    <button class="btn end-button" id="admin-btn" ng-click="edit.cancel()">Cancel</button>
    <button class="btn btn-success end-button"  id="admin-btn" ng-click="edit.updateFood()">Save</button>
    </form>


  </div>
    </div>
  <div class="col-md-1"></div>
</div>
</section>
