<section class="modal-upload">
  <!-- .
    <div class="col-md-1"></div>
  . -->

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>Add New Category</h3>
  <hr />
    <form>
  <input type="text" id="new-category" placeholder="New Food Category" />

    <div class="row">
      <button class="end-button btn">Cancel</button>
      <button class="end-button btn btn-success" type="submit">Save</button>
    </div>

    </form>

  </div>
  <div class="col-md-1">
</div>

</div>

</section>
