<section class="modal-upload" id="new-food">

<!--=========== CSV UPLOAD ===========-->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>Add New Food</h3>

    <hr />
    <uib-accordion close-others="true">
      <div uib-accordion-group class="panel panel-success" heading="Upload CSV">
        <form>
              <input type="file" name="file" id="file" ng-model="new.file" base-sixty-four-input required/>
              <button class="btn" ng-click="new.addFoodCsv()">Save</button>
        </form>
      </div>

      <div uib-accordion-group class="panel panel-warning" heading="+ New Food">
        <form>

        <input id="food-name" type="text" placeholder="Food Name" ng-model="new.name"/>
        <input id="food-score" type="number" placeholder="Score" ng-model="new.score"/>

    <!-- OVERRIDE -->
        <input id="food-override-check" type="checkbox" ng-model="new.overRide"/>
        <label for="food-override">Override</label>
        <select ng-model="new.overRideValue">
          <option ng-value="A">A</option>
          <option ng-value="B">B</option>
          <option ng-value="C">C</option>
          <option ng-value="D">D</option>
          <option ng-value="F">F</option>
        </select>

    <!-- CATEGORY -->
    <label for="category">Category:</label>
        <select ng-model="new.category" name="category">
          <option disabled value="initial">Category</option>
          <option ng-repeat="category in new.categories" value="{{category.name}}">{{category.name.replace('_', ' ')}}</option>
        </select>
&nbsp;
    <!-- LOCATION -->
    <label for="location">Location:</label>
        <select ng-model="new.location" name="location">
          <option disabled value="initial">Location</option>
          <option ng-repeat="location in new.locations" value="{{location.name}}" ng-value="{{location.name}}">{{location.name.replace('_', ' ')}}</option>
        </select>


    <!-- OPTIONS -->
    <h4>Options</h4>
        <!-- <button id="add-option">+</button> -->
    <label for="type">Type:</label>
    <select name="type" ng-model="new.type" ng-options="type.name for type in new.types" >
    </select>
<!-- ng-change="new.populateOptions(new.type.name)" -->

    <!-- <label for="option">Option:</label>
    <select name="option" ng-model="new.options[0]" ng-options="option in new.OptionsList">
      <option selected disabled>Option</option>
      <option ng-value="{{option}}">{{option.name.replace('_', ' ')}}</option>
    </select> -->

<!-- Multiple Selection -->
<ui-select multiple ng-model="new.array" theme="selectize" ng-disabled="new.disabled" close-on-select="false" style="width: 100%;" title="Select an option">
  <ui-select-match placeholder="Select option...">{{$item.name}}</ui-select-match>
  <ui-select-choices repeat="option in new.options | filter: new.type.name" >
     <!-- | propsFilter: {type:{name:type.name}} -->
    <div ng-bind-html="option.name | highlight: $select.search"></div>
    <small>Type: {{option.type.name}} &nbsp; | &nbsp; Modifier: {{option.modifier}}</small>
  </ui-select-choices>
</ui-select>
<!-- <p>Selected: {{ctrl.multipleDemo.selectedPeople}}</p>





    <!- == SAVE / CANCEL == -->
        <button class="btn btn-success end-button"  id="admin-btn" type="submit" ng-click="new.addFood(); new.cancel()">Save</button>
        </form>
      </div>
      </uib-accordion>
<div class="row">
  <button class="btn end-button" id="admin-btn" ng-click="new.cancel()">Cancel</button>

</div>

  </div>
  <div class="col-md-1"></div>
</div>



</section>
