<section class="modal-upload">
<!-- .
  <div class="col-md-1"></div>
. -->
<h3>Add New Food</h3>
<br />


<!--=========== CSV UPLOAD ===========-->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <form id="csv-upload">
      <label for="csv-upload">Upload CSV:</label>
      <input name="csv-upload" type="file" accept=".csv"/>
      <button type="submit">Upload</button>
    </form>

  </div>
  <div class="col-md-1"></div>
</div>


<!--=========== ADD FOOD ===========-->
<br />

<!-- CATEGORY -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <form>
    <select>
      <option selected disabled>Category</option>
      <option>Fruit</option>
      <option>Vegetables</option>
      <option>Grains</option>
      <option>Protein</option>
      <option>Dairy</option>
      <option>Oil</option>
    </select>
  </div>
  <div class="col-md-3"></div></div>
<br />

  <!-- NAME, SCORE, OVERRIDE -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <input id="food-name" type="text" placeholder="Food Name"/>
    <input id="food-score" type="number" placeholder="Score"/>
    <input id="food-override-check" type="checkbox" />
    <label for="food-override">Override</label>
    <select>
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>F</option>
    </select>

    <h4>Options</h4>
    <button id="add-option">+</button><br />

  <select>
    <option selected disabled>Type</option>
    <option>Condiment</option>
    <option>Bread</option>
    <option>Topping</option>
  </select>

  <select>
    <option selected disabled>Option</option>
    <option>Ketchup</option>
    <option>Mustard</option>
  </select>


      <button class="end-button btn">Cancel</button>
      <button class="end-button btn btn-success" type="submit">Save</button>
    </form>

  </div> <!-- END COL 10 -->

  </div>


  <div class="col-md-1"></div>


</section>
