<section class="modal-upload">


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
  <h3>Add New Option</h3>

  <hr />

  <h4>New Type</h4>
<form>
<input type="text" placeholder="New Type" ng-model="new.typeData.name" required/><button ng-click="new.addOptionType()">Add</button><br />
<br/>
<label for="radio"><input class="radio-inline" type="radio" name="radio" ng-model="new.typeData.display" value="radio"/>&nbsp;Radio</label>
<label for="checkbox"><input class="radio-inline" type="radio" name="checkbox" ng-model="new.typeData.display" value="checkbox"/>&nbsp;Checkbox</label>
</form>
  <hr />


  <form class="form-horizontal">
    <div class="row">
      <div class="col-md-4">
  <select class="form-control" ng-model="new.type">
    <option selected disabled>Type</option>
    <option ng-repeat="type in new.types" ng-value="{{type}}">{{type.name}}</option>

  </select>
  </div>
  <div class="col-md-5">
<input class="form-control" ng-model="new.name" type="text" placeholder="New Option"/>
  </div>
</div>

<div class="form-group">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <label for="modifier" class="col-md-3 col-form-label">Modifier:</label>
    <div class="col-md-3">
    <input class="form-control" type="number" ng-model="new.modifier"/>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


<!--== SAVE / CANCEL ==-->
<div class="row">
  <button class="end-button btn" id="admin-btn" ng-click="new.cancel()">Cancel</button>
  <button class="end-button btn btn-success"  id="admin-btn" type="submit" ng-click="new.addOption()">Save</button>
  </form>
</div>


</div>
<div class="col-md-1"></div>
</div>


</section>
