<section class="modal-upload">


<div class="row">


<div class="col-md-1"></div>

<div class="col-md-10">
  <h3>Add New Option</h3>

  <hr />

  <h4>New Type</h4>
<input type="text" placeholder="New Type"/><button>Add</button><br />
  <hr />

  <select class="f-left">
    <option selected disabled>Type</option>
    <option>Condiment</option>
    <option>Bread</option>
    <option>Topping</option>
  </select>

<input type="text" placeholder="New Option"/><br />

<div class="row">
  <button class="end-button btn" id="admin-btn">Cancel</button>
  <button class="end-button btn btn-success"  id="admin-btn" type="submit">Save</button>
</div>


</div>
<div class="col-md-1"></div>
</div>


</section>
