<section class="modal-upload">


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
  <h3>Add New Option</h3>

  <hr />

  <!-- NEW TYPE -->
  <uib-accordion close-others="true">
    <div uib-accordion-group class="panel panel-success" heading="+ New Type">
      <form>
      <input type="text" placeholder="New Type" ng-model="new.typeData.name" required/><button ng-click="new.addOptionType()">Add</button><br />
      <br/>
      <label for="radio"><input class="radio-inline" type="radio" name="radio" ng-model="new.typeData.display" value="radio"/>&nbsp;Radio</label>
      <label for="checkbox"><input class="radio-inline" type="radio" name="checkbox" ng-model="new.typeData.display" value="checkbox"/>&nbsp;Checkbox</label>
      </form>
    </div>

    <!-- NEW OPTION -->
    <div uib-accordion-group class="panel panel-success" heading="+ New Option">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-md-4">
      <ui-select ng-model="new.type.selected" theme="selectize">
        <ui-select-match placeholder="Select type">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="type in new.types">
          <span ng-bind-html="type.name"></span>
        </ui-select-choices>
        <!-- <option selected disabled>Type</option> -->
        <!-- <option ng-repeat="type in new.types" ng-value="{{type}}">{{type.name}}</option> -->
      </ui-select>
      </div>

      <div class="col-md-5">
    <input class="form-control" ng-model="new.name" type="text" placeholder="Add New Option"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <label for="modifier" class="col-md-3 col-form-label">Modifier:</label>
        <div class="col-md-3">
        <input name="modifier" class="form-control" type="number" ng-model="new.modifier"/>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
    <button class="end-button btn btn-success"  id="admin-btn" type="submit" ng-click="new.addOption(); new.cancel()">Save</button>
    </form>
        </div>
    </div>

  </uib-accordion>







<!--== SAVE / CANCEL ==-->
<div class="row">
  <button class="end-button btn" id="admin-btn" ng-click="new.cancel()">Cancel</button>

</div>


</div>
<div class="col-md-1"></div>
</div>


</section>
