body {
  font-family: Arvo;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Futura;
  font-weight: bold;
}

select {
  margin-bottom: 10px;
}
.end-button {
  margin-top: 50px;
  float: right;
}
#csv-upload label, input, button {
  float: left;
}
#f {
  color: red;
}
#c {
  color: orange;
}
#a {
  color: green;
}
.s-center {
  text-align: center;
  margin: 10px auto;
}


/* ----------- NEW CATEGORY ----------- */


/* ----------- NEW FOOD ----------- */
#food-name {
  width: 200px;
}
#food-score {
  width: 70px;
  margin-left: 20px;
}
#food-override-check {
  margin-left: 40px;
  margin-right: 10px;
}
#food-override {
  width: 50px;
}
#add-option {
}


/* ----------- NEW OPTION ----------- */
