body {
  font-family: Arvo;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Futura;
}
h3 {
  padding-left: 50px;
}

.end-button {
  margin-top: 50px;
  float: right;
}


#csv-upload label, input, button {
  float: left;
}

/* ----------- NEW CATEGORY ----------- */


/* ----------- NEW FOOD ----------- */
#food-name {
  width: 200px;
}
#food-score {
  width: 70px;
  margin-left: 20px;
}
#food-override-check {
  margin-left: 40px;
  margin-right: 10px;
}
#food-override {
  width: 50px;
}
#f {
  color: red;
}
#c {
  color: orange;
}
#a {
  color: green;
}

/* ----------- NEW OPTION ----------- */
#add-option {
  display: block;
}
