/*---------------------------------------------------------------------------
User Landing Page
----------------------------------------------------------------------------*/
.landing-page {
  background: linear-gradient(#358e43, #59aa46, 20%, #b3ee8f, 25%, white);
}

.avocado img, .login-button button {
  margin-top: 15px;
}


header.row.banner img {
  width: 100%;
}

button.btn {
  height: 35px;
  font-size: 16px;
  width: 100%;
}

.chef-marshall-logo img {
  margin-top: 15px;
}

#food-search {
  font-size: 22px;
  margin-top: 20px;
  width: 100%;
}

.where-image, .categories-image {
  margin-top: 30px;
  text-align: center;
}

.where-image img, .categories-image img {
  width: 40%;
}


.where-image p, .categories-image p {
  font-size: 30px;
  padding-top: 10px;
}

/*---------------------------------------------------------------------------
Where?
----------------------------------------------------------------------------*/
.food-search-results-banner {
  border-bottom: 2px solid black;
  margin-top: 20px;
}

.food-search-results-banner span {
  font-size: 20px;
}

.food-grade-banner {
  text-align: right;
}

.food-search-results {
  min-height: 100%;
}

.search-result {
  border-bottom: 1px solid black;
  padding: 20px 10px;
}

.food-name, .letter-grade {
  font-size: 20px;
}

.food-grade {
  text-align: right;
}

.options-value {
  font-size: 16px;
}

.letter-grade {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  width: 30px;
}

.letter-grade.a {
  background-color: #358e42;
}

.letter-grade.b {
  background-color: #59aa46;
}

.letter-grade.c {
  background-color: #fdb813;
}

.letter-grade.d {
  background-color: #f47920;
}

.letter-grade.f {
  background-color: #bd2408;
}

footer {
  background-color: #373936;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/*---------------------------------------------------------------------------
Categories
----------------------------------------------------------------------------*/
.categories-banner {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.category {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.category-name {
  font-size: 20px;
  padding-top: 10px;
}

.category-photo {
  text-align: right;
}

.category-photo img {
  width: 35%;
}
